.context-videos {
    &-embed {
        height: 22rem;
        margin: 2rem 0 4rem;
        position: relative;        
        display: flex;
        align-items: center;
        justify-content: center;
        iframe {
            display: flex;
            justify-content: center;
            width: 70%;
            height: 100%;
        }
    }
}